<h1>Editing weapon</h1>

<% form_for(@weapon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @weapon %> |
<%= link_to 'Back', weapons_path %>